.poly-spinner {
	width: 70px;
	height: 70px;

	animation: rotate-all 5s infinite;

	&__container {
		min-height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;

		&.image-loader-100p {
			height: 100%;
			min-height: inherit;
		}
	}
}

#outline-fat {
	position: absolute;
	left: 0;
	z-index: 1;
	stroke: currentColor;
	stroke-dasharray: 0 300;
	stroke-dashoffset: 0;
	animation: outline 10s infinite;
}

#outline-slim {
	position: absolute;
	left: 0;
	z-index: 2;
	stroke: currentColor;
}

@keyframes rotate-all {
	from {
		transform: rotate(0deg);
	}

	@for $i from 1 through 10 {
		#{$i * 10%} {
			transform: rotate(#{$i * 36deg});
		}
	}
}

@keyframes outline {
	from {
		stroke-dasharray: 0, 300;
		stroke-dashoffset: 0;
	}
	@for $i from 1 through 20 {
		@if ($i <= 10) {
			#{$i * 5%} {
				stroke-dasharray: #{$i * 29} 300;
				stroke-dashoffset: 0;
			}
		} @else if ($i < 20) {
			#{$i * 5%} {
				stroke-dasharray: (290- ($i % 10) * 29) 300;
				stroke-dashoffset: ($i % 10) * -29;
			}
		} @else if ($i == 20) {
			#{$i * 5%} {
				stroke-dasharray: 0 300;
				stroke-dashoffset: -290;
			}
		}
	}
}