@import "./custom";
@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.appMain {
  background-color: coral;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.installbtn {
  height: 10px;
  margin: 10px;
}

.appContainer {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: space-around;
}

.googleSignIn {
  position: absolute;
  top: 50%;
  right: 30%;
  left: 30%;
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.awesomeSlider {
  padding: 30px;
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.indicatorContainer {
  border: 3px solid saddlebrown;
  border-radius: 4px;
  height: 10vh;
  background-color: red;
  &.taken {
    background-color: seagreen;
  }
}

.indicatorMsg {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  > * {
    list-style-type: none;
    padding: 16px;
    display:        flex;
    flex-grow:      1;
    flex-shrink:    1;
    justify-content: center;  
  }
}

#forum-embed {
  .embed {
    padding: 20px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
