html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reloadModal {
  height: 30%;
  width: 60%;
  text-align: center;
  background-color: #dfdfdf;
  z-index: 5;
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(1, 1, 1, 1);
}

.bgBlur {
  position:absolute;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  content:"";
  pointer-events: none;
  z-index:100;
  opacity: .5;
  filter: blur(3px);
}